---
hap_port: 51826
web_port: 3000
uuid: walshnet:accessories:hk-switch
name: Outlet
manufacturer: Walsh Industries
model: Rev-1
serial: IS-01PAULDAMO
username: DE:AD:BE:EE:F0:00
pincode: 031-45-154
wlan:
  ap:
    ssid: HomeKit Switch
switches:
  -
    name: Relay 1
    gpio: 4
    on_default: true
