<%- include('header') -%>
<div class="container">

  <p class="lead">The Wi-Fi configuration has been saved. HomeKit Switch will join your chosen network shortly. Please wait.</p>

  <p class="small">
    If there are any connection issues, HomeKit Switch will begin serving the setup network again and periodically retry your chosen network.
  </p>

</div>
<%- include('footer') -%>
