<%- include('header') -%>
<div class="container">

  <a href="/setup/reset" class="btn btn-danger btn-lg btn-block">
    Factory Reset
  </a>
  <p class="small text-center">
    <br />
    Restore all settings to their original values.
  </p>

  <br /><br />

  <div class="text-center">
    <a href="/">Go Back</a>
  </div>

</div>
<%- include('footer') -%>
